.header-image {
    height: 300px;
    background-image: url('../../../assets/img/cover-photo/cover-photo-001.gif');
    background-size: cover;
    background-position: center;
  }
.profile-image {
    height: 150px;
    width: 150px;
    background-image: url('../../../assets/img/profile/example.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: -110px;
    left: calc(50% - 75px);
  }
.icon-logo {
    fill: white;
    filter: opacity(50%);
}